<div id="portfolio">
	<div class="jumbotron main">
		<div class="banner">
		    <ul>
		        <li>
		        	<div class="one img">
		        		<%= image_tag('gameboard.jpg') %>
		        	</div>
		        </li>
		        <li>
		        	<div class="two img">
		        		<%= image_tag('pizza.jpg') %>
		        	</div>
		        </li>
		        <li>
		        	<div class="three img">
		        		<%= image_tag('boltnetwork.jpg') %>
		        	</div>
		        </li>
		    </ul>
		</div>
	</div>
	<div class="supporting">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="project">
						<a href="#">
			        		<%= image_tag('10.jpg') %>
			        		<h3 class="title">Ten</h3>
			        		<p class="description">
			        			Mocha, single shot dripper seasonal at coffee trifecta viennese. Eu cinnamon steamed pumpkin spice seasonal eu cream in turkish.
			        		</p>
			        	</a>
		        	</div>
				</div>
				<div class="col-md-6">
					<div class="project">
						<a href="#">
			        		<%= image_tag('boltnetwork.jpg') %>
			        		<h3 class="title">Bolt Network</h3>
			        		<p class="description">
			        			Mocha, single shot dripper seasonal at coffee trifecta viennese. Eu cinnamon steamed pumpkin spice seasonal eu cream in turkish.
			        		</p>
			        	</a>
		        	</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="project">
						<a href="#">
			        		<%= image_tag('calendar.jpg') %>
			        		<h3 class="title">Calendar</h3>
			        		<p class="description">
			        			Mocha, single shot dripper seasonal at coffee trifecta viennese. Eu cinnamon steamed pumpkin spice seasonal eu cream in turkish.
			        		</p>
			        	</a>
		        	</div>
				</div>
				<div class="col-md-6">
					<div class="project">
						<a href="#">
			        		<%= image_tag('feedster.jpg') %>
			        		<h3 class="title">Feedster</h3>
			        		<p class="description">
			        			Mocha, single shot dripper seasonal at coffee trifecta viennese. Eu cinnamon steamed pumpkin spice seasonal eu cream in turkish.
			        		</p>
			        	</a>
		        	</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="project">
						<a href="#">
			        		<%= image_tag('gameboard.jpg') %>
			        		<h3 class="title">Gameboard</h3>
			        		<p class="description">
			        			Mocha, single shot dripper seasonal at coffee trifecta viennese. Eu cinnamon steamed pumpkin spice seasonal eu cream in turkish.
			        		</p>
			        	</a>
		        	</div>
				</div>
				<div class="col-md-6">
					<div class="project">
						<a href="#">
			        		<%= image_tag('movelog.jpg') %>
			        		<h3 class="title">Move Log</h3>
			        		<p class="description">
			        			Mocha, single shot dripper seasonal at coffee trifecta viennese. Eu cinnamon steamed pumpkin spice seasonal eu cream in turkish.
			        		</p>
			        	</a>
		        	</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="project">
						<a href="#">
			        		<%= image_tag('outbox.jpg') %>
			        		<h3 class="title">Outbox</h3>
			        		<p class="description">
			        			Mocha, single shot dripper seasonal at coffee trifecta viennese. Eu cinnamon steamed pumpkin spice seasonal eu cream in turkish.
			        		</p>
			        	</a>
		        	</div>
				</div>
				<div class="col-md-6">
					<div class="project">
						<a href="#">
			        		<%= image_tag('pizza.jpg') %>
			        		<h3 class="title">Pizza</h3>
			        		<p class="description">
			        			Mocha, single shot dripper seasonal at coffee trifecta viennese. Eu cinnamon steamed pumpkin spice seasonal eu cream in turkish.
			        		</p>
			        	</a>
		        	</div>
				</div>
			</div>
		</div>
	</div>
</div>